<p id="notice"><% notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @empleado.apellido %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @empleado.rfc %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @empleado.puesto %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= Usuario.find_by(id: @empleado.usuario_id ).nombre + ' ' + Usuario.find_by(id: @empleado.usuario_id ).apellido %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= Sucursal.find_by(id: @empleado.sucursal_id ).nombre %>
</p>

<%= link_to 'Editar empleado', edit_empleado_path(@empleado) %> |
<%= link_to 'Regresar al perfil', usuarios_path %>
