<p id="notice"><% notice %></p>
<h1>
   Datos de la sucursal
</h1>
<p>
  <strong>Nombre:</strong>
  <%= @sucursal.nombre %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @sucursal.calle %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @sucursal.colonia %>
</p>

<p>
  <strong>Numero exterior:</strong>
  <%= @sucursal.numero_exterior %>
</p>

<p>
  <strong>Numero interior:</strong>
  <%= @sucursal.numero_interior %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @sucursal.codigo_postal %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @sucursal.ciudad %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @sucursal.pais %>
</p>
<br>
<% if Empleado.where(sucursal_id: @sucursal.id).count == 0 %>
Aun no registra ningun empleado a esta sucursal.
<% else %>
<h2>
  Empleados de sucursal <%= @sucursal.nombre %>
</h2>
  # de Empleados: <%= Empleado.where(sucursal_id: @sucursal.id).count %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>RFC</th>
      <th>Puesto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% Empleado.where(sucursal_id: @sucursal.id).each do |empleado| %>
      <tr>
        <td><%= empleado.nombre.capitalize %></td>
        <td><%= empleado.apellido.capitalize %></td>
        <td><%= empleado.rfc.upcase %></td>
        <td><%= empleado.puesto.capitalize %></td>
        <td><%= link_to 'Detalles', empleado %></td>
        <td><%= link_to 'Editar Datos', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Eliminar Empleado', empleado_path(empleado), method: :delete, data: {confirm: "Esta acción es irreversible. Confirme que está seguro de borrar esta sucursal."} %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<% end %>


  <!--<strong>Admin_user:</strong>
  <#%= Usuario.find_by(id: @sucursal.usuario_id).nombre %>
</p>-->
<br>
<br>

<%= link_to 'Editar Sucursal', edit_sucursal_path(@sucursal) %> |
<%= link_to 'Registrar Empleado', new_empleado_path %><br><br>
<%= link_to 'Regresar al perfil', usuarios_path %>
