<% if !logged_in? -%>
Conéctate para ver tu perfil.
<%= link_to "Conectarse al Sistema", login_path %>
<%= link_to "Registrar Usuario", new_usuario_path %>
<% else -%>

<% active_user = Usuario.find(session[:user_id]) %>
Conectado como <%= active_user.nombre %>
<%# Usuario.all.each do |usuario| %>
<%#= usuario.nombre %>
<%# end %>

<p id="notice"><% notice %></p>

<h1>Perfil</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo Electrónico</th>
      <th>Rfc</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= active_user.nombre.capitalize %></td>
        <td><%= active_user.apellido.capitalize %></td>
        <td><%= active_user.email.downcase %></td>
        <td><%= active_user.rfc.upcase %></td>
        <td><%= active_user.empresa.capitalize %></td>
        <td><%= link_to 'Editar Datos', edit_usuario_path(active_user) %></td>
        <td><%= link_to 'Eliminar Cuenta', usuario_path(active_user), method: :delete, data: {confirm: "Esta acción es irreversible. Confirme que está seguro de borrar su cuenta."} %></td>
      </tr>
  </tbody>
</table>

<br>

<% if Sucursal.where(usuario_id: session[:user_id]).count == 0 %>
Aun no registra ninguna sucursal.
<% else %>
<table>
  <thead>
    <tr>
      <th>Sucursales</th>
      <th>Empleados</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% Sucursal.where(usuario_id: session[:user_id]).each do |sucursal| %>
      <tr>
        <td><%= sucursal.nombre %></td>
        <td><%= Empleado.where(sucursal_id: sucursal.id).count %></td>
        <td><%= link_to 'Detalles', sucursal %></td>
        <td><%= link_to 'Editar Datos', edit_sucursal_path(sucursal) %></td>
        <td><%= link_to 'Eliminar Sucursal', sucursal_path(sucursal), method: :delete, data: {confirm: "Esta acción es irreversible. Confirme que está seguro de borrar esta sucursal."} %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<% end %>

<br>
<br>

<%= link_to 'Registrar Sucursal', new_sucursal_path %><br>
<%= link_to 'Registrar Empleado', new_empleado_path %><br>
<%= link_to 'Cerrar Sesión', logout_path, method: :delete %>
<% end -%>