<p id="notice"><% flash[:notice] %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Correo Electrónico</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @usuario.rfc %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @usuario.empresa %>
</p>

<%= link_to 'Ir al Dashboard', usuarios_path %>
